<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
   
      <div class="container center-align">
        <i class=" large material-icons">sentiment_very_dissatisfied</i>
        <h1>Oops!!</h1>
        <h3>404 PAGE NOT FOUND</h3>


      </div>
     
</body>
</html>