<!DOCTYPE html>
<html lang="en">

<body>
    <nav>
        <div class="nav-wrapper container">
          <!-- <a href="#" class="brand-logo">Logo</a> -->
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="http://localhost:9000/additem"> AddItems</a></li>
           
          </ul>
        </div>
      </nav>
      <div class="container center-align">
        <i class=" large material-icons">sentiment_very_dissatisfied</i>
        <h1>Oops!!</h1>
        <h3>404 PAGE NOT FOUND</h3>


      </div>
     
</body>
</html>