<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title></title>
</head>
<body>

  <%= JSON.stringify(items) %>
    <nav>
        <div class="nav-wrapper container">
          <a href="/" class="brand-logo">Crud  </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="http://localhost:4000/additem"> AddItems</a></li>
           
          </ul>
        </div>
      </nav>
      <div class="container">
        <ul class="collection with-header">

         
           <% if(items.lenght>0) { %>

            <script>
              items.forEach(items => {
                <li class="collection-item"><div>items<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
              });
            </script>
            
          <%  } else { %>
              <li> there no items  </li>
          <%  } %>
        

        </ul>
      </div>
     
</body>
</html>